.banner {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: rgba(37, 185, 204, 0.45);
    padding: 15px;
}

.select_lang {
    position: absolute;
    right: 52px;
    top: 5px;
}