@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf");
}

.banner {
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 15px;
}

.select_lang {
    position: absolute;
    right: 52px;
    top: 5px;
    font-family: "OpenSans-Light";
    border: none;
}

.logout {
    position: absolute;
    right: 15px;
    width: 22px;
    top: 5px;
    cursor: pointer;
}