@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
  }
  /* Question & Answers */
  @font-face {
    font-family: "almoni-dl-aaa-regular";
    src: url("../fonts/almoni-dl-aaa-bold.otf");
  }
  /* Yes No Answers */
  @font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
  }

.title {
    border-top: 1px solid #80808057;
    border-left: 1px solid #80808057;
    border-right: 1px solid #80808057;
    border-bottom: 1px solid #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.main {
    background: url("../assets/Background-image.png") no-repeat center center; 
    -webkit-background-size: 58%;
    -moz-background-size: 58%;
    -o-background-size: 58%;
    background-size: 58%;
    border-left: 1px solid #80808057;
    border-right: 1px solid #80808057;
    border-top: 1px solid #FFFFFF; 
    height: 34vh;
    overflow-y: scroll;
    padding: 0px 20px 20px 20px;
}

.main ul {
    margin: 12px;
    padding: 0px;
    list-style: none;
}


.sender-left {
    color: rgb(27, 219, 219);
    font-weight: bold;
}

.message-left {
    display: block;
    float: left;
    text-align: left;
    color: white;
    /* display: flex; */
    margin: 10px 0px 0px 0px;
}
    
.message-left .message-text {
    display: block;
    font-weight: bold;  
    position: relative;
    font-family: "OpenSans-Regular";
    max-width: 74%;
    background: rgb(222, 245, 248);
    color: rgba(0,0, 0);
    padding: 5px 15px 5px 10px;
    border-radius: 10px;
    line-height: 1.5em;
    border: rgba(172, 172, 172) solid 1.6px;
}

.message-left .message-text:before {
	border: 12px solid transparent;
	border-bottom-color: rgb(172, 172, 172);
	bottom: 1px;
	left: -11px;
	z-index: -2;
}

.message-left  .message-text:after {  
	border: 8px solid transparent;
    border-bottom-color: rgb(222, 245, 248);
	bottom: 2px; 
	left: -8px;
	z-index: 0;
}

.sender-right {
    color: rgb(33, 170, 170);
    font-weight: bold;
}

.message-right {
    margin: 10px 0px 0px 0px;
    display: block;
    float: right;
    /* text-align: left; */
    color: white;
    /* display: flex; */
    text-align: right;
}
    
.message-right .message-text {
    display: block;
    position: relative;
    float: right;
    font-family: "OpenSans-Regular";
    max-width: 74%;
    line-height: 1.5em;
    background:rgba(241, 241, 241, 0.7);
    padding: 5px 15px 5px 10px;
    color: rgba(0,0, 0);
    border-radius: 10px;
    line-height: 1.5em;
    /* text-align: left; */
    border: rgba(172, 172, 172) solid 1.6px;
}

.message-text:before, .message-text:after{
    border-radius: 20px / 10px;
    content: '';
    position: absolute;
    display: block;
}

.message-right .message-text:before {
    border: 10px solid transparent;
    border-bottom-color: rgb(172, 172, 172);
    bottom: 1px;
    right: -11px;
    z-index: -2;
}

.message-right .message-text:after {
    border: 10px solid transparent;
    border-bottom-color: rgb(243, 243, 243);
    bottom: 2px;
    right: -8px;
    z-index: 0;
}

.msg-metadata {
    text-align: center;
    margin-top: 5px;
    /* font-weight: bold; */
    font-size: 10px;
}

.heavy_message.message-text:before {
    border-bottom-color:rgb(255, 0, 0);
}

.heavy_message {
    border: rgb(255, 0, 0) solid 1.5px !important;
}

.medium_message.message-text:before {
    border-bottom-color:rgb(255,128,0);
}

.medium_message {
    border: rgb(255,128,0) solid 1.5px !important;
}

.easy_message.message-text:before {
    border-bottom-color:rgb(255,255,0);
}

.easy_message {
    border: rgb(255,255,0) solid 1.5px !important;
}


