@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "almoni-dl-aaa-regular";
    src: url("../fonts/almoni-dl-aaa-bold.otf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

.title {
    border-top: 1px solid #80808057;
    border-left: 1px solid #80808057;
    border-right: 1px solid #80808057;
    border-bottom: 1px solid #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.title_text {
    display: inline-block;
    border-bottom: 1px solid #80808057;
    width: 14vw;
    font-size: 12px;
}

.main {
    background: url("../assets/main/Background-image.png") no-repeat center center; 
    -webkit-background-size: 20vh;
    -moz-background-size: 20vh;
    -o-background-size: 20vh;
    background-size: 20vh;
    border: 1px solid #80808057;
    border-top: 1px solid #FFFFFF; 
    height: 37vh;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
}

.main ul {
    margin: 12px;
    margin-top: 0px;
    padding: 0px;
    list-style: none;
}

.sender-left {
    color: rgb(33, 170, 170);
    font-weight: bold;
    font-size: 12px;
}

.message {
    display: block;
    width: 100%;
    margin: 0px 0px 10px 0px;
    color: white;
}

.message-left {
    float: left;
    text-align: left;
}

.message-right {
    float: right;
    text-align: right;
}

.message-text {
    display: block;
    position: relative;
    max-width: 100%;
    line-height: 1.5em;
    color: rgba(0, 0, 0);
    padding: 5px 15px 5px 10px;
    border-radius: 10px;
}
    
.message-left .message-text {
    background: rgb(222, 245, 248);
    border: rgba(172, 172, 172) solid 1px;
}

.message-right .message-text {
    background:rgba(241, 241, 241, 0.7);
    border: rgba(172, 172, 172) solid 1px;
}

.message-left .message-text:before {
    display: block;
	border: 10px solid transparent;
	border-bottom-color: rgb(172, 172, 172);
	bottom: 4px;
    left: -11px;
    transform: rotate(18deg);
}

.message-left .message-text:after {  
	border: 8px solid transparent;
    border-bottom-color: rgb(222, 245, 248);
	bottom: 5px; 
	left: -8px;
    z-index: 0;
    transform: rotate(18deg);
}

.sender-right {
    color: rgb(33, 170, 170);
    font-weight: bold;
    font-size: 12px;
}

.message-text:before, .message-text:after {
    border-radius: 20px / 10px;
    content: '';
    position: absolute;
    display: block;
}

.message-right .message-text:before {
    display: block;
    border: 10px solid transparent;
    border-bottom-color: rgb(172, 172, 172);
    bottom: 1px;
    right: -11px;
}

.message-right .message-text:after {
    border: 10px solid transparent;
    border-bottom-color: rgb(243, 243, 243);
    bottom: 2px;
    right: -8px;
    z-index: 0;
}

.msg-metadata {
    position: relative;
    display: inline;
    margin: 0px;
    color:gray;
    font-size: 10px;
}

.heavy_message.message-text:before {
    border-bottom-color:rgb(255, 0, 0);
}

.heavy_message {
    border: rgb(255, 0, 0) solid 1.5px !important;
}

.medium_message.message-text:before {
    border-bottom-color:rgb(255,128,0);
}

.medium_message {
    border: rgb(255,128,0) solid 1.5px !important;
}

.easy_message.message-text:before {
    border-bottom-color:rgb(255,255,0);
}

.easy_message {
    border: rgb(255,255,0) solid 1.5px !important;
}

.msg_context {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 10.6px;
    line-height: 12px;
    text-align: right;
}