@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

.line_hr {
    position: relative;
    margin: 7px;
    width: 98%;
}

.choose_dates {
    margin-top: 10px;
    padding-right: 10px;
}

.date_title {
    display: inline;
    position: relative;
    top: 4px;
    font-size: 15px;
    margin-left: 15px;
    font-family: "OpenSans-Regular";
}

.dates {
    /* display: inline-flex; */
    font-size: 13px;
    /* text-align: center; */
    /* font-family: "OpenSans-Regular"; */
    float: right;
}

.date_button {
    display: inline-block;
    position: relative;
    /* top: 0px; */
}

.date_button:hover {
    color: rgb(37, 185, 204);
    cursor: pointer;
}

span {
    margin-left: 7px;
    margin-right: 7px;
}


.choose_date_input{
    display: inline;
    text-align: left;
    margin-left: 30px;
    padding-left: 8px;
    min-width: 210px;
    vertical-align: baseline;
}

.choose_date_input:hover{
    cursor: pointer;
}

.date_active {
    pointer-events: none;
    /* text-align: center; */
    position: relative;
    display: inline-block;
    color:rgb(37, 185, 204);
    animation-name: date_anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;         /* When the spec is finished */
}

@keyframes date_anim {
    from {
        top: 0px;
        font-size:13px;
    }
    to {
        top: -2px;
        font-size: 12px;
        /* margin: 20px;
        pointer-events: none;
        outline: none; */
    }
}

.arrow_down {
    transform: rotate(90deg);
    position: absolute;
    right: 0px;
    margin: 10px;
    margin-top: 5px;
    color: gray;
    pointer-events: none;
}

.relative {
    position: relative;
}

.clock_icon {
    position: relative;
    font-size: 10px;
    top: -2px;
    margin: 0;
}

span.c {
    margin-left: 15px;
    margin-right: 15px;
}

.btn_right, .btn_left {
    color: gray;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    pointer-events: initial;
}

.hide {
    display: none;
}

.show {
    display: initial;
}

.span_date {
    position: inherit;
    font-size: 13px;
    display: inline-block;
}

.tiny {
    position: inherit;
    left: 22px;
    font-size: 8px;
}

.normal {
    font-size: 13px;
}