@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

.line_hr {
    position: relative;
    margin: 7px;
    width: 98%;
}

.choose_dates {
    margin-top: 10px;
    padding-right: 10px;
}

.date_title {
    position: relative;
    top: 4px;
    font-size: 15px;
    margin-left: 15px;
    font-family: "OpenSans-Regular";
}

.dates {
    /* display: inline-flex; */
    font-size: 13px;
    /* text-align: center; */
    /* font-family: "OpenSans-Regular"; */
    float: right;
}

.date_button {
    position: relative;
    /* top: 0px; */
}

.date_button:hover {
    color: rgb(37, 185, 204);
    cursor: pointer;
}

span {
    margin-left: 7px;
    margin-right: 7px;
}


.choose_date_input{
    display: inline;
    text-align: left;
    margin-left: 10px;
    padding-left: 8px;
    min-width: 210px;
    vertical-align: baseline;
}

.choose_date_input:hover{
    cursor: pointer;
}

.date_active {
    color:rgb(37, 185, 204);
    animation-name: date_anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;         /* When the spec is finished */
}

@keyframes date_anim {
    from {
        top: 0px;
        font-size: 13px;
    }
    to {
        top: -7px;
        font-size: 10px;
        /* margin: 20px;
        pointer-events: none;
        outline: none; */
    }
}

.arrow_down {
    position: absolute;
    right: 0px;
    margin-top: 2px;
    color: gray;
    pointer-events: none;
}

.relative {
    position: relative;
}

.clock_icon {
    position: relative;
    font-size: 10px;
    top: -2px;
    margin: 0;
}