
.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(37, 185, 204, 0.45);
    padding-top: 0px;
}

.logo {
    display: inline-block;
    background-color: rgb(37, 185, 204);
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 150px;
    top: 3px;
}

.logo2 {
    right: 120px;
}

.img_chat {
    width: 23px;
    height: 23px;
    margin: 0px;
    padding: 4px;
}

.img_share {
    width: 25px;
    height: 25px;
    margin: -1px;
    padding: 5px;
}

.logo:hover {
    border-color:rgb(66,129,137);
    cursor: pointer;
}

.text1 {
    color: white;
    font-family: "OpenSans-Regular";
    font-size: 17px;
    vertical-align: text-top;
    font-weight: bold;
}

.inner_footer {
    position: relative;
    padding-left: 30px;
    top: -10px;
}

.chat_screen {
    display: none;
    position: absolute;
    right: 0px;
    top: 187px;
}

.chat_frame {
    position: absolute;
    top: 45px;
    right: 35px;
    width: 316px;
    height: 65vh;
    border: none;
    z-index: 200;
}

.closeBtn {
    top: 56px;
    position: relative;
    right: 315px;
    z-index: 201;
    cursor: pointer;
}