@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf");
}

.intro_text {
    font-size: 9vh;
    text-align: left;
    padding-left: 120px;

    /* letter-spacing: -4px; */
    color: rgb(37, 185, 204);
    font-family: "OpenSans-Light";
    /* margin: 0px; */

}

.terms {
    position: absolute;
    bottom: 25px;
    width: 20px;
    left: 60px;
}

.terms + span {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 80px;
    font-family: "OpenSans-Light";
}

.terms + span > u {
    cursor: pointer;
}

.login_page_row {
    margin-top: 15; 
    height: 80vh;
}

.login_page_container {
    height: 100%;
    display: table;
    margin :0 auto;
}

.login_page_mid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

/* .banner {
    position: relative !important;
} */

.paper-input-bar, .has-error-text {
    margin: 0px;
}

/* On screens that are 992px or less */
@media screen and (max-height: 664px) {
    .intro_text {
        font-size: 10vh;
    }
}

/* On screens that are 992px or less */
@media screen and (max-height: 485px) {
    .intro_text {
        font-size: 40px;
    }
}

  /* On screens that are 768px or less */
@media screen and (max-width: 768px) {
    .intro_text {
        font-size: 48px;
    }
    .login_page_container {
        margin-top: 15px;
        height: auto;
        width:100%;
        /* display: none; */
        position: relative;
        padding-left: 0px;
    }
}
  
  /* On screens that are 768px or less */
  @media screen and (max-aspect-ratio: 1/1) {
    .intro_text {
        font-size: 48px;
        /* padding-left: 0px; */
    }
    .login_page_container {
        margin-top: 15px;
        height: auto;
        width:100%;
        /* display: none; */
        position: relative;
    }
}
  
@media screen and (max-width: 1000px) {
    .intro_text {
        padding-left: 100px;
    }
}

@media screen and (max-width: 900px) {
    .intro_text {
        padding-left: 80px;
    }
}

@media screen and (max-width: 690px) {
    .intro_text {
        font-size: 43px;
    }
}

@media screen and (max-width: 620px) {
    .intro_text {
        font-size: 42px;
    }
}

/* On screens that are 600px or less*/
@media screen and (max-width: 604px) {
    .intro_text {
        font-size: 40px;
    }
}

/* On screens that are 768px or less */
@media screen and (max-aspect-ratio: 1/1) and (min-height:640px){

    .login_page_row {
        margin-top: 15; 
        height: 80vh;
    }
    
    .login_page_container {
        height: 40%;
        display: table;
        margin :0 auto;
    }
    
    .login_page_mid {
        /* height: 120%; */
        display: block;
    }
    
    .intro_text {
        text-align: center;
        margin-top: 24px;
        padding-left: 0px;
    }

    #login_page_form {
        /* height: 120%; */
        height: auto;
        position: absolute;
        top: 40%;
        left: 10%;
        width: 80%;
    }
}

img.wave {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.btn_submit {
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    border: none;
    margin-top: 20px;
    position: relative;
    top: 10px;
}

span.has-error-text {
    position: absolute;
}

.link {
    color: rgb(37, 185, 204);
    display: block;
    float: right;
    position: relative;
    top: 0px;
    font-family: "OpenSans-Regular";
}

.floating-label {
    margin-bottom: 20px;
}

.eyes {
    cursor: pointer;
    width: 30px;
    position: relative;
    float: right;
}

.closed_eye {
    top: -40px;
}

.open_eye {
    top: -50px;
}