.modal-dialog {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.modal-body {
    height: 100%;
    padding: 0px;
}

.modal-content {
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.modal_arrow {
    transform: rotate(180deg);
}

.sign_up {
    position: absolute;
    right: 80px;
    bottom: 25px;
    font-size: 40px;
    margin: 0px;
    cursor: pointer;
    font-family: "OpenSans-Regular";
}

.invite {
    font-family: "OpenSans-Light";
    position: absolute;
    left: 100px;
    bottom: 25px;
    font-size: 40px;
    display: inline-block;
}

.modal_info {
    color: white;
}