.reset_password_container {
    position: absolute;
    top: 10%;
    left:8%;
    width:84%;
}

.forgot_pass_text {
    font-size: 4vh;
    left: 0%;
    text-align: left;
    /* letter-spacing: -4px; */
    color: rgb(37, 185, 204);
    font-family: "OpenSans-Regular";
    /* margin: 0px; */

}
