/* Set the background image for all browsers */
body {
  background: url("../assets/Background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #5a171700 inset;
  box-shadow: 0 0 0px 1000px #5a171700 inset;
  transition: transparent 5000s ease-in-out 0s;
}

/*  Removes the blue border after click on select, button, textarea or input */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

/* Change the cursor on disabled button */
button:disabled {
  cursor: auto !important;
}